:root {
    font-size: 10px;
}

body {
    font-family: 'Montserrat';
}

.section-title {
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}


.section-title::after {
    content: "";
    position: absolute;
    border-bottom: 1.4px solid #18CFAB;
    border-top: 1.4px solid #18CFAB;
    transform: skewX(65deg);
    width: 77px;
    height: 5px;
    top: 100%;
    left: 47%;
    margin-top: 26px;
}

/* header */
header {
    background-image: url("../img/header/header.jpg");
    margin-bottom: 80px;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav {
    background: rgba(94, 93, 88, 0.6);
}


.logo {
    display: inline-block;
    height: 67px;
    line-height: 67px;
    vertical-align: middle;
}

.figure-logo {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    width: 58px;
    background-image: url("../img/header/logo.png");
    text-align: center;
}

.white-logo {
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 6px;
}

.green-logo {
    font-size: 32px;
    font-weight: 700;
    color: #18CFAB;
}

.nav-list {
    display: flex;
    gap: 21px;
    padding-right: 43px;
}

.nav-list-item {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    padding: 48px 0 46px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition-duration: .5s;
}

header .nav-search-icon {
    display: block;
    position: absolute;
    top: 40%;
    left: 98%;
    cursor: pointer;
}

header .nav-list-item:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.header-content {
    text-align: center;
    padding: 180px 0 160px;
}

.title-text {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #ffffff;
}

.title-text span {
    color: #18CFAB;
}

.sub-title-text {
    font-weight: 700;
    font-size: 78px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 22px 0;
}

.call-to-action {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    margin-bottom: 120px;
}

.btns {
    font-weight: 700;
    font-size: 15px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    width: 170px;
    height: 70px;
    min-height: max-content;
    margin: 0 26px;
    border-top: 5px solid #ffffff;
    border-radius: 5px;
    transition: .5s;
    background: #18CFAB;
}

.explore-btn {
    background: #18CFAB;
}

.purchase-btn {
    background: #00CBF6;
}

.btns:hover {
    filter: brightness(110%);
    transform: scale(1.05);
}

/* benefits */
.benefits-list {
    display: flex;
    width: 100%;
    justify-content: center;
}

.benefits-list-item {
    position: relative;
    top: -73px;
    width: 25%;
    min-width: 200px;
    padding: 60px 10px 70px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    word-spacing: .30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2A33;
    color: #18CFAB;
    box-sizing: border-box;
}

.benefits-list-item:nth-child(2n) {
    background-color: #18CFAB;
    color: #ffffff;
}

.benefits .list-item-text {
    margin-top: 40px;
    text-align: center;
}

/* services */
.services {
    padding-bottom: 90px;
    margin: 0 200px 0 200px;
}

.services-list {
    display: flex;
    width: 100%;
    margin: 100px 0 27px;
}

.services-list-item {
    width: 16.66%;
    box-sizing: border-box;
    font-size: 16px;
    color: #717171;
    padding: 18px 0;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    text-align: center;
    cursor: pointer;
}

.services-list-item:hover {
    padding: 17px 0;
    border: 1.5px solid #18CFAB;
}

.services-list-item.active {
    background: #18CFAB;
    color: #ffffff;
    position: relative;
}

.services-list-item.active::after {
    content: "";
    position: absolute;
    background-image: url("../img/services/Rectangle.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 15px;
    top: 98%;
    left: 50%;
    transform: translate(-50%);
}

.services-description {
    display: flex;
    width: 100%;
    min-height: 143px;
}

.services-description span {
    font-weight: 600;
}

.services-img {
    width: 16.67%;
}

.services .description-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #777777;
    width: 83.33%;
    padding-left: 10px;
}

.services .inactive {
    display: none;
}

/* purchase */
.purchase {
    padding: 127px 0;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../img/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.purchase .title-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
    word-spacing: .250px;
}

.purchase .text-content {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin: 14px 0 62px;
}

/* work */
.work {
    padding: 100px 0;
    background-color: #E9EDEF;
}


.work-list {
    margin: 85px 0 65px;
    display: flex;
    justify-content: center;
}

.work-list-item {
    font-size: 14px;
    color: #717171;
    border: 1.4px solid #DADADA;
    background: rgba(0, 0, 0, 0.0001);
    padding: 14px 15px;
    transition: .5s;
    cursor: pointer;
}

li.work-list-item.active {
    border: 1.4px solid #18CFAB;
    color: #18CFAB;
}

.work-list-item:hover {
    border: 1.4px solid white;
    color: #18CFAB;
}

.works-gallery {
    display: grid;
    width: 100%;
    padding-left: 165px;
    padding-right: 165px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 70px;
    justify-content: center;
}

.works-gallery-js {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 10px;
}

.work .gallery-img {
    width: 100%;
}


.work .gallery-item {
    position: relative;
    overflow: hidden;
}

.work .pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    border-top: 2px solid #18CFAB;
    background-color: #E9EDEF;
}

.work .circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.4px solid #18CFAB;
}

.work .circle:nth-of-type(2) {
    background-color: #18CFAB;
    margin-left: 4px;
}

.work .chaine {
    width: 35%;
    height: 35%;
}

.work .quater {
    width: 30%;
    height: 30%;
    margin-right: 1px;
}

.work .cd-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #18CFAB;
    margin-top: 24px;
}

.work .wd-text {
    font-size: 12px;
    font-weight: 300px;
    line-height: 2px;
    color: #8A8A8A;
    margin-bottom: 24px;
}

.work .gallery-item:hover .pop-up {
    transition: .5s;
    top: 0;
    cursor: pointer;
}

.load-btn {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700px;
    line-height: 63px;
    color: #ffffff;
    background-color: #18CFAB;
    width: 168px;
    height: 63px;
    border-radius: 5px;
    padding-left: 2%;
    transition-duration: .5s;
    position: relative;
}

.bg-btn-add {
    background-image: url("../img/work/plus.png");
    background-repeat: no-repeat;
    background-position: 13% 49%;
}

.bg-btn-min {
    background-image: url("../img/work/sub.png");
    background-repeat: no-repeat;
    background-position: 13% 49%;
}

.loading {
    width: 24px;
    height: 24px;
    border: 2px solid white;
    border-radius: 50%;
    border-right: none;
    border-top: none;
    animation: load 1s linear infinite;
    position: absolute;
    top: 35%;
    left: 10%;
    visibility: hidden;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* news */
.news {
    padding-left: 183px;
    padding-right: 183px;
}

.news-title {
    margin-top: 82px;
}

.news-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: 100px 0 70px;
    gap: 30px;
    overflow-x: hidden;
}

.news-list-item {
    position: relative;
}

.news-list-item h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    padding-left: 16px;
}

.news .comment {
    font-weight: 300px;
    font-size: 14px;
    color: #777777;
    padding-left: 16px;
    line-height: 39px;
}

.news img {
    max-width: 263px;
    max-height: 208px;
}

.news .date {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    width: 66px;
    height: 64px;
    top: 0;
    left: 74%;
    background-color: #203E38;
    color: #ffffff;
    opacity: 0.8;
    transition-duration: .5s;
}

.news .blog-title {
    transition-duration: .5s;
}

.news-list a:hover .date {
    background-color: #18CFAB;
}

.news-list a:hover .blog-title {
    color: #18CFAB;
}

/* feedback */

.feedback {
    padding: 100px 0;
    background-image: url("../img/img-base/sections-background/section-3.jpg");
    background-size: 100% 100%;
    background-position: center center;
}

.feedback h2 {
    color: #ffffff;
}

.feedback .quotes {
    display: block;
    margin: 90px auto 35px;
}

.feedback .user-feedback {
    text-align: center;
    margin-bottom: 50px;
    min-height: 390px;
}

.feedback .div-changer {
    position: relative;
    overflow: hidden;
    height: 390px;
}

.inactive {
    position: absolute;
    top: 0%;
    left: 100%;
    max-height: 390px;
    min-width: 1140px;
    overflow: hidden;
}

.move {
    left: 0;
    transition: .5s;
    max-width: 1140px;
}

.feedback-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #BBBBBB;
    max-height: 86px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #18CFAB rgba(28, 104, 245, 0.2);
}

.feedback-text::-webkit-scrollbar {
    width: 10px;
}

.feedback-text::-webkit-scrollbar-track {
    background: rgba(28, 104, 245, 0.2);
}

.feedback-text::-webkit-scrollbar-thumb {
    background-color: #18CFAB;
    border-radius: 20px;
}

.feedback .user-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    color: #18CFAB;
    margin-top: 35px;
    margin-bottom: 20px;
}

.feedback .user-speciality {
    font-size: 13px;
    font-weight: 300;
    line-height: 2px;
    color: #BBBBBB;
    margin-bottom: 25px;
}

.feedback .user-avatar {
    border-radius: 50%;
    outline: 12px solid rgba(31, 218, 181, 0.2);
    margin-bottom: 50px;
    max-width: 143px;
}

.feedback .users-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.feedback .users-list {
    display: flex;
    gap: 25px;
}

.feedback .user-img {
    border-radius: 50%;
    outline: 5px solid rgba(31, 218, 181, 0.3);
    cursor: pointer;
}

.users-list-item:hover .user-img {
    outline: 5px solid rgba(11, 229, 19, 0.4);
}

.feedback .user-img.active {
    position: relative;
    outline: 5px solid rgba(11, 229, 19, 0.4);
    bottom: 10px;
}

.btn-carousel {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    position: relative;
    background: none;
    transition-duration: 0.5s;
}

.btn-carousel::after {
    content: '';
    position: absolute;
    bottom: 9px;
    left: 11px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #BBBBBB;
    border-top: 2px solid #BBBBBB;
    transition-duration: 0.5s;
}

.btn-carousel.arrow-left::after {
    left: 11px;
    transform: rotate(225deg);
}

.btn-carousel.arrow-right::after {
    left: 7px;
    transform: rotate(45deg);
}

.btn-carousel:hover {
    background: #18CFAB;
    border: 1px solid #18CFAB;
}

.btn-carousel:hover::after {
    border-right: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    transition-duration: 0.5s;
}

/* footer */

footer {
    padding: 47px 0;
    background-color: #22353F;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #AEAEAE
}

footer p a {
    color: #18CFAB;
}

.up {
    display: block;
    position: fixed;
    top: 75%;
    left: 95%;
    opacity: 0.4;
}

.up>img {
    width: 50%;
}